header#main-header {
    width: 100%;
    height: 115px;
    background: #4B0082 url('../../assets/linx.PNG') no-repeat;
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 45px;
    padding: 0 15px;
    font-size: 16px;
}