.product-list{
    max-width: 500px;
    margin: 20px auto 0;
    padding: 0 20px;
}

div.product-list article {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

div.product-list article strike {
    font-size: 15px;
    color: #999;
    margin-top: 5px;
    line-height: 24px;
}

div.product-list article strong {
    margin-top: 10px;
    font-size: 20px;
    color: #444;
}

div.product-title article strong {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
    color: #444;
}
div.product-list article img{
    width: 460px;
    height: 200px;
}

.product-list .actions {
    display: flex;
    margin-bottom: 20px;
}

.product-list .actions button {
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background: #da552f;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

div.product-list .actions button:hover {
    opacity: 0.7;
}


/*.product-list {
    max-width: 700px;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 30px;
}

ul.product-list li {
    height: 50%;
    background: #FFF;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 20px;
    display: flex;
}

ul.product-list li strike {
    font-size: 15px;
    color: #999;
}

ul.product-count {
    margin-top: 5px;
    font-size: 15px;
}*/