* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background: #fafafa;
    color: #333;
  }
  
  .container {
    width: 100%;
    padding: 10px;
  }
  
  .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    padding: 3%;
    margin-bottom: 10px;
    margin-right: 5px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: smaller;
  }
  
  .img-responsive {
    width: 100%;
    max-width: 120px;
    height: 70px;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-right {
      text-align: right;
    }
  
  .mt-5 {
    margin-top: 5px;
  }
  
  .mt-10 {
    margin-top: 10px;
  }
  
  .mt-15 {
    margin-top: 15px;
  }
  
  .mr-5 {
    margin-right: 5px;
  }
  
  .mr-10 {
    margin-right: 10px;
  }
  
  .mr-15 {
    margin-right: 15px;
  }
  
  .col-1 {
    width: 8.33%;
  }
  
  .col-2 {
    width: 16.66%;
  }
  
  .col-3 {
    width: 25%;
  }
  
  .col-4 {
    width: 33.33%;
  }
  
  .col-5 {
    width: 41.66%;
  }
  
  .col-6 {
    width: 50%;
  }
  
  .col-7 {
    width: 58.33%;
  }
  
  .col-8 {
    width: 66.66%;
  }
  
  .col-9 {
    width: 75%;
  }
  
  .col-10 {
    width: 83.33%;
  }
  
  .col-11 {
    width: 91.66%;
  }
  
  .col-12 {
    width: 100%;
  }
  
  @media screen and (max-width: 1000px) {
    * {
      font-size: 1em;
    }
  }
  
  @media screen and (max-width: 630px) {
    .row div {
      padding: 1.5%;
    }
  }
  
  @media screen and (max-width: 500px) {
    * {
      font-size: 0.9em;
    }
  }
  